<h1>Welcome <%= current_user.username %></h1>

<%= link_to("View Episodes", episodes_path) %><br><br>
<%= link_to("View Guests", guests_path) %><br><br>
<%= link_to("View Appearances", appearances_path) %><br><br>
